@media (min-width: 1200px) {
  h1 {
    text-align: center;
}

body {
  background-color: #DBC7A3;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
  
  h2 {
  text-align: center;
  font-size: 2.3rem;
}

p {
  text-align: center;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  padding-top: 10px;
}

a {
  margin: 0 10px;
  color: white;
}
img {
  width: 85%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
