@media (min-width: 1200px) {
  h1 {
    text-align: center
}

body {
  background-color: magenta
  color: white
  font-family: Lato, sans-serif
}
  
  h2 {
  text-align: center;
  font-size: 2.3rem;
}

p {
  text-align: center;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  padding-top: 10px;
}

a {
  margin: 0 10px;
}
img {
  width: 85%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
